/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  border: 0;
}

body {
  background: #393E46;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  gap: 1rem;
}

ul {
  margin-top: 3%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-bottom: 2rem;
}

li {
  list-style: none;
  text-align: center;
  width: 100%;
  border: 1.2px solid #6D9886;

  padding: 1rem;
  border-radius: 10px;
}

li:hover {
  background: #6D9886;
}

a {
  text-decoration: none;
  color: #F7F7F7;
}

form {
  margin-top: 3%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}

label {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

input, textarea, button {
  width: 100%;
  border: 1.2px solid #6D9886;

  padding: 1rem;
  border-radius: 10px;
}

textarea {
  height: 5rem;
}